#root {
  max-width: 1280px;
margin: 0;

  text-align: center;
}

.logo {
  height: 8em;
 margin-right: 1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  cursor: pointer;
 
}
.logo.react:hover {
  cursor: pointer;
}
.hero{
  
  height: 10vh;
  
}
.homehero {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #213547;

  display: flex;
  flex-direction: row;
  justify-content: center;      /* Centers horizontally */
  align-items: center;          /* Centers vertically */
  top: 1rem;
  gap: 2rem;
  height: 100vh;                /* Full height to center vertically */
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 600px) {
  .homehero {
    flex-direction: column;
  }
}


.card {
  padding: 2em;
  width: 300px;
  height: 200px;
  border: 3px solid #89F336;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  border-radius: 5%;
}
.card:hover {
  background-color: #89f336;
  cursor: pointer;
  color: white;
}
.card:active, .card:focus {
  border-color: gray;
    background-color: #caecae;
    color:#213547
}
.read-the-docs {
  color: #888;
}

@media (max-width: 600px) {
    .card {
        width: 80%;
        height: 3rem;
    }
}