.footer {
 background-color: #cbf8a986;
  padding: .5rem 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: #333;
   /* green accent */
 display: grid;
 grid-template-columns: 50% 50%;
 /*
 flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  flex-wrap: wrap;
  gap: 0.5rem;*/
}
.footer div {
  margin: 0.5rem 0;
  width: 100%;
}
.footer div p {
  margin: 0.5rem 0;
  text-align: left;
}

.footer div a {
  color: #FFA500; /* orange for links */
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.links a:hover {
  background-color: #32CD32; /* green hover */
  color: #fff;
}
@media (max-width: 768px) {
  .footer{
    margin-top: 0rem;
  grid-template-columns: 100%;
  }
}